<section class="banner">
    <img src="../../../../assets/img/bannerAlcaldia.webp" class="img-fluid w-100 fade-in" alt="banner de la alcaldía">
</section>

<section class="historia py-5 fade-in-up ">
    <h2 class="sectionTitle text-center mb-4">Gobierno Autónomo</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-justify">
                <h4>Historia del Municipio</h4>

                <p class="">De acuerdo a la Ley el Tribunal Supremo Electoral, llama a elecciones del
                    flamante
                    Cantón Mocha el 13
                    de Mayo de 1986, en donde son elegidos como Concejales los Señores: Señora Yolanda Beltrán,
                    señor
                    Oscar Cerda, Lic. Mario Molina, señor Guillermo Ortiz, señor Gustavo Padilla, Lic. Efraín Paucar
                    y
                    señor Orlando Pérez.

                    La primera sesión inaugural se realizó el 8 de noviembre de 1986, en donde se elige a su primer
                    Presidente del Concejo al señor Orlando Pérez y como Vice - presidente el señor Guillermo Ortiz.

                    Los empleados con se inició la municipalidad son, Asesor Jurídico, Secretaria, Jefe Financiero,
                    Tesorero, Jefe de Obras Públicas, Jefe de Avalúos y Catastros, Comisario Municipal, Policía
                    Municipal, trabajadores de Obras Públicas y Conserje

                    El 23 de Septiembre de 1.987 el Concejo Cantonal autoriza firmar un convenio para la creación de
                    dos
                    Bibliotecas que funcionarán en el centro Cantonal y Yanahurco.

                </p>

            </div>

            <div class="col-md-12">
                <h4>Misión</h4>
                <p>Nuestra misión es servir a la comunidad de Mocha con compromiso y transparencia, promoviendo el
                    desarrollo integral, la participación ciudadana y el bienestar de todos sus habitantes. Trabajamos
                    incansablemente para proporcionar servicios públicos eficientes, fomentar el progreso económico,
                    preservar nuestro patrimonio cultural y natural, y garantizar la igualdad de oportunidades para
                    todos.
                </p>
            </div>

            <div class="col-md-12">
                <h4>Visión</h4>
                <p>Nos visualizamos como un municipio próspero, inclusivo y sostenible, donde cada ciudadano disfruta de
                    una alta calidad de vida. Buscamos convertir a Mocha en un modelo de gestión municipal eficiente,
                    innovadora y transparente, que inspire confianza y orgullo en nuestra comunidad y sea reconocido a
                    nivel nacional e internacional por su excelencia y liderazgo.
                </p>
            </div>

            <div class="col-md-12">
                <h4>Valores institucionales</h4>
                <ul class="list-unstyled">
                    <li>
                        <ul>
                            <li><strong>Integridad: </strong>Actuamos con honestidad, ética y responsabilidad en todas
                                nuestras acciones y decisiones.</li>
                            <li><strong>Compromiso: </strong>Estamos dedicados a trabajar de manera diligente y
                                eficiente en beneficio de la comunidad, cumpliendo con nuestras responsabilidades con
                                pasión y determinación.</li>
                            <li><strong>Transparencia: </strong>Promovemos la apertura y la claridad en nuestra gestión,
                                brindando información accesible y comprensible a todos los ciudadanos.</li>
                            <li><strong>Respeto: </strong>Valoramos la diversidad, los derechos humanos y la dignidad de
                                todas las personas, promoviendo la igualdad y la inclusión en todas nuestras
                                iniciativas.</li>
                            <li><strong>Colaboración: </strong>Fomentamos la cooperación y el trabajo en equipo, tanto
                                dentro de la institución como con otros actores públicos, privados y comunitarios, para
                                lograr objetivos comunes.</li>
                            <li><strong>Sostenibilidad: </strong>Nos comprometemos a proteger el medio ambiente y a
                                promover un desarrollo equitativo y sostenible que garantice el bienestar de las
                                generaciones presentes y futuras.</li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>