<section class="content">

    <div class="container">
        <div class="card mb-3 border-0 alcalde-card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/img/alcalde.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body">
                        <h5 class="card-title">Ing. Danilo Patricio Ortiz Ortiz </h5>
                        <p class="card-text">Alcalde de Mocha</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>