.content{
    padding-top: 56px;
}
.alcalde-card   {

    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta los valores según el efecto deseado */

}


@media (min-width: 992px) {
    .alcalde-card   {
        max-width: 1024px;
        margin: 0 auto;
    }

    .container{
        padding-top: 10px;
    }

}