<section class="banner">
    <img src="../../../assets/img/banner.webp" class="img-fluid w-100" alt="...">
</section>


<section class="news-feed">
    <h2 class="sectionTitle text-center mb-4">Últimas Noticias</h2>

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/img/boletin1(1).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adquisición de equipos de computo</h5>
                        <p class="card-text">El alcalde de la ciudad gestiona computadoras para apoyar la educación en
                            el cantón.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">28 de junio de 2024</small>
                        <a href="#" class="btn btn-link">Ver más &rarr;</a>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/img/boletin2(1).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Visita inclusiva del Centro Diurno</h5>
                        <p class="card-text">El Centro Diurno de la ciudad, junto a sus técnicos, realizaron una visita
                            a la FAE en Ambato</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">21 de junio de 2024</small>
                        <a href="#" class="btn btn-link">Ver más &rarr;</a>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/img/boleytin3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Acciones conjuntas en Mocha</h5>
                        <p class="card-text">Se ha llevado a cabo trabajos complementarios en la pintura de la cancha
                            Escuela Costa Rica, en la parroquia Pinguilí.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">20 de junio de 2024</small>
                        <a href="#" class="btn btn-link">Ver más &rarr;</a>

                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center align-items-center">
            <a routerLink="/ultimas-noticias" class="btn btn-secondary mt-3">Ver más noticias</a>
        </div>


    </div>

</section>

<section class="announces">
    <div class="container">
        <h2 class="sectionTitle"><span class="title d-flex justify-content-center">Anuncios</span></h2>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio1.webp" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio2.webp" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio3.webp" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio4.webp" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio5.webp" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio2.webp" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
</section>

<section class="enlaces">
    <div class="container">
        <h2 class="sectionTitle"><span class="title d-flex justify-content-center">Enlaces de interés</span></h2>
        <div id="carouselEnlacesControls" class="carousel slide d-flex align-items-center" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item  active">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center">
                            <a href="https://bomberospelileo.gob.ec/web/" target="_blank">

                                <img src=" ../../../assets/img/bomberos.webp" class="d-block imgEnlace" alt="Imagen 1">

                            </a>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <a href="https://www.policia.gob.ec/" target="_blank">
                                <img src="../../../assets/img/policia.webp" class="d-block  imgEnlace" alt="Imagen 2">
                            </a>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <a href="https://www.presidencia.gob.ec/" target="_blank">
                                <img src="../../../assets/img/presidencia.webp" class="d-block imgEnlace"
                                    alt="Imagen 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="../../../assets/img/logo-dpe.svg" class="d-block imgEnlace" alt="Imagen 1">
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="../../../assets/img/cpcsc.webp" class="d-block  imgEnlace" alt="Imagen 2">
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <img src="../../../assets/img/iess.webp" class="d-block imgEnlace" alt="Imagen 3">
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEnlacesControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselEnlacesControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>


</section>

<section class="trasportes">

    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/img/rutas.webp" class="img-fluid" alt="...">
            </div>
            <div class="col-6">
                <h5>Conoce cómo moverte dentro del cantón</h5>
                <p>En el siguiente enlace podrán encontrar de forma detallada los recorridos y paradas de bus al
                    servicio
                    de
                    transporte público en Mocha.</p>
                <p>
                    Emplea la plataforma de Google Maps, desde cualquier computadora o dispositivo móvil, en donde se
                    podrá visualizar las opciones de medios de transporte para llegar a su destino y escoger la opción
                    mejor opción.
                </p>
                <br>
                <br>
                <a routerLink="/transportes" class="btn boton-noticia"
                    style="background-color: #51775e; color: white;">Ingresar</a>

            </div>
        </div>
    </div>

</section>