@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif; /* Aplica Poppins como la fuente principal */
}
.sectionTitle {
  position: relative;
  text-align: center;
}

.sectionTitle::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajusta la distancia de la línea con el título */
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Ajusta la longitud de la línea */
  height: 5px; /* Ajusta el grosor de la línea */
  background-color: #51775e;
  border-radius: 10px; /* Redondea las esquinas de la línea */
}
.banner img{
    padding-top: 56px;
}

.news-feed .title{
    padding-top: 30px;
}
.news-feed .card{
    padding-top: 30px;
}
.news-feed .no-border-radius {
    border-radius: 0 !important;
}
.news-feed .link-noticia{
    text-decoration: none;
    color: black;
}
.news-feed .link-noticia:hover{
    text-decoration: underline;
    color: #51775e;
}

p, h6{
  text-align: justify;
}

.carousel{
  padding-top: 30px;
}
.carousel-control-prev,
  .carousel-control-next {
    background-color:   #51775e ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px; 
    line-height: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: #fff;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color:  #7c9c8c ;
  }