<section class="banner">
    <img src="../../../assets/img/banner.webp" class="img-fluid w-100" alt="...">
</section>

<section class="news-feed">

    <div class="container">
        <h2 class="sectionTitle"><span class="title d-flex justify-content-center">Últimas Noticias</span></h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card border-0" style="width: 100%;">
                    <img class="card-img-top  no-border-radius" src="../../../assets/img/noticia1.webp" alt="noticia 1">
                    <div class="card-body">
                        <h5 class="card-title"><a class="link-noticia" href=""> Espectáculos en la ciudad </a></h5>
                        <p class="card-text">El legendario Héctor Jaramillo, ícono de la música nacional, hizo vibrar
                            nuestros
                            corazones en el evento del Adulto Mayor con su magistral interpretación. Sus melodías
                            envolvieron el
                            ambiente, llevándonos a un viaje emocional inigualable.</p>
                        <a href="#" class="btn boton-noticia" style="background-color: #51775e; color: white;">Leer
                            más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-none d-md-block">
                <div class="card border-0" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../../assets/img/noticia2 (1).webp"
                                class="img-fluid rounded-start no-border-radius" alt="noticia 2">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">Danilo Ortiz, recibió la visita
                                    de las autoridades del GAD Municipal de Pelileo, incluyendo a su vicealcaldesa,
                                    parte del cuerpo edil y vicario del hermano cantón.</h6>
                                <a href="#" class="btn boton-noticia"
                                    style="background-color: #51775e; color: white;">Leer
                                    más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../../assets/img/noticia3.webp"
                                class="img-fluid rounded-start no-border-radius" alt="noticia 3">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">El cantón Mocha se llenó de vida
                                    y color con la visita de propios y extraños para celebrar sus famosas octavas.
                                </h6>
                                <a href="#" class="btn boton-noticia"
                                    style="background-color: #51775e; color: white;">Leer
                                    más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../../assets/img/noticia4.webp"
                                class="img-fluid rounded-start no-border-radius" alt="noticia 4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">El GAD Municipal de Mocha, junto
                                    al Departamento de Obras Públicas, Gestión de Riesgos y el Cuerpo de Bomberos de
                                    Mocha, responde a los pedidos de la ciudadanía.
                                </h6>
                                <a href="#" class="btn boton-noticia"
                                    style="background-color: #51775e; color: white;">Leer
                                    más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="announces">
    <div class="container-fluid">
        <h2 class="sectionTitle"><span class="title d-flex justify-content-center">Anuncios</span></h2>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio1.webp" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio2.webp" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio3.webp" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio4.webp" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio5.webp" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/img/anuncio2.webp" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
</section>