@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.sectionTitle {
  position: relative;
  text-align: center;
}
.sectionTitle::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajusta la distancia de la línea con el título */
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Ajusta la longitud de la línea */
  height: 5px; /* Ajusta el grosor de la línea */
  background-color: #51775e;
  border-radius: 10px; /* Redondea las esquinas de la línea */
}
.banner img{
  padding-top: 56px;
}

.news-feed{
  padding-top: 30px;
}
.announces{
  background-color:  #f4f4f4 ;
  padding-top: 30px;
}  
.enlaces{
  padding-top: 30px;
  padding-bottom: 30px;

}
.trasportes{
  background-color:  #f4f4f4 ;
  padding-top: 30px;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.btn{
  color: #51775e;
}
.btn-secondary{
  color: white;
  width: 20%;
}

.carousel{
  padding-top: 30px;
}
.carousel-control-prev,
  .carousel-control-next {
    background-color:   #51775e ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px; 
    line-height: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: #fff;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color:  #7c9c8c ;
  }

.imgEnlace{
  height: 100px;
  width: auto;
}

.trasportes{
  padding-bottom: 30px;
  h5{
    opacity: .9;
    color: #51775e;
  }
}

.trasportes img{
  height: 400px;
  width: auto;
}

.btn-success{
  background-color:   #51775e;
}
.btn-success:hover{
  background-color:  #5b8669;
  transition: ease-in .2s;
}

@media (max-width: 481px) {
  .trasportes {
    text-align: left; 
    span {
      font-size: 10px;
    }
    img {
      width: 100%;
      height: auto;
      display: block; 
      margin: 0 auto; 
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .container {
    width: 100%;
    text-align: center; 
  }

  .col-6 {
    width: 100%; 
  }

  h5 {
    text-align: left; 
  }

  p {
    width: 100%;
    text-align: left; 
  }

  .btn {
    display: block;
    margin: 0 auto; /* Centra el botón */
    width: 50%;
  }

}

@media (min-width: 481px) and (max-width: 768px){

  .trasportes {
    text-align: left; 
    span {
      font-size: 10px;
    }
    img {
      width: 100%;
      height: auto;
      display: block; 
      margin: 0 auto; 
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .container {
    width: 100%;
    text-align: center; 
  }

  .col-6 {
    width: 100%; 
  }

  h5 {
    text-align: left; 
  }

  p {
    width: 100%;
    text-align: left; 
  }

  .btn {
    display: block;
    margin: 0 auto; /* Centra el botón */
    width: 50%;
  }
}