@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.sectionTitle {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionTitle::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 5px; 
    background-color: #51775e;
    border-radius: 10px; 
}

section{
    padding: 56px;
}

.bordes{
    border-color:rgba(81, 119, 94, .3)
}
h5{
    opacity: .5;
}
.table{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
th{
    text-align: center;
}  

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 50px;
        color: rgba(81, 119, 94, .5)
    }
}

.descripcion h3:hover{
    color: rgba(81, 119, 94, 1);
    transition: ease .2s ease-in;
    cursor: pointer;
}

@media (max-width : 481px) {
    .descripcion{
text-align: center;
        h3{
            font-size: 20px;
            color: rgba(81, 119, 94, .5)
        }
        
    }

    .table{
        width: auto;
    }
    th, td{
        font-size: 15px;
    }
}