<section>
    <div class="container">
        <h2 class="sectionTitle text-center mb-4">Transparencia 2024</h2>

        <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Estructura Órganica Funcional
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Estatuto orgánico de gestión organizacional por procesos del GAD Mocha</strong>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> - Reforma al estatuto orgánico de gestión organizacional por procesos del
                                            GAD Mocha</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Nómina de empleados
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Información LOTAIP</strong>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> B2.- Distributivo del personal 2023</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> C1.- Distributivo de Remuneraciones Unificadas 2023 </span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Presupuesto
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Presupuesto 2023 GAD Mocha</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> PAC.- Presupuesto 2022</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <strong>Presupuesto 2022 GAD Mocha</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> PAC.- Presupuesto 2022</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <strong>Presupuesto 2021 GAD Mocha</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> PAC.- Presupuesto 2021</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Tercera Reforma del Presupuesto GADM Mocha 2021</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Segunda Reforma del Presupuesto GADM Mocha 2021</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Primera Reforma del Presupuesto GADM Mocha 2021</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <strong>Presupuesto 2020 GAD Mocha</strong>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> PAC.- Presupuesto 2020</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Cuarta Reforma del Presupuesto GADM Mocha 2020</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Tercera Reforma del Presupuesto GADM Mocha 2020</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Segunda Reforma del Presupuesto GADM Mocha 2020</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-between align-items-center">
                                        <span> Primera Reforma del Presupuesto GADM Mocha 2020</span>
                                        <a class="custom-red-icon"><i class="bi bi-file-pdf bi-2x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>


                </div>
            </div>



        </div>


    </div>
</section>