@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

section{
    padding-top: 56px;
}
.custom-red-icon {
    color: red;
}
.sectionTitle {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionTitle::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 5px; 
    background-color: #51775e;
    border-radius: 10px; 
}

.accordion-button{
    color:rgba(81, 119, 94, 1);
    background: transparent;
}
.accordion .accordion-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(81, 119, 94, 0.9);
  }