<section class="">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="../../../../assets/img/alcalde2.webp" class="img-fluid img" alt="...">
            </div>
        </div>
    </div>

    <div class="container d-flex align-items-center ">
        <div class="card  border-0 p-4 mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <img src="../../../../assets/img/comillas1.webp" class="img-fluid" alt="...">

                    </div>
                    <div class="col-11">
                        <div class="message">
                            <p>
                                Durante nuestro primer mandato, juntos logramos mejoras significativas en
                                infraestructura,
                                seguridad y servicios públicos, trabajando siempre con transparencia y compromiso.
                            </p>
                            <p>Su respaldo me motiva a seguir adelante con proyectos que fomenten el desarrollo
                                sostenible y
                                el
                                bienestar de nuestra comunidad. </p>
                            <p>Continuaré trabajando incansablemente para hacer de nuestra ciudad un lugar próspero y
                                seguro
                                para todos.</p>
                            <p>Agradezco su confianza y estoy comprometido a seguir liderando con integridad y
                                dedicación.
                            </p>

                        </div>
                        <div class="footer">Juntos construiremos, ¡El mejor Cantón de la provincia!</div>
                        <div class="social mt-3">
                            <a href="https://twitter.com/czamoramature"></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</section>