<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/Inicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="municipalidadDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Municipalidad
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/municipalidad-de-Mocha">Gobierno Autónomo</a></li>
                        <li><a class="dropdown-item" routerLink="/mocha">Mocha</a></li>
                        <li><a class="dropdown-item" routerLink="/alcalde">Alcalde</a></li>
                        <li><a class="dropdown-item" href="#">Base Legal</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="municipalidadDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Transparencia
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/ley-de-transparencia">Ley de Transparencia</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2024']">Transparencia 2024</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2023']">Transparencia 2023</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2022']">Transparencia 2022</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2021']">Transparencia 2021</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2020']">Transparencia 2020</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2019']">Transparencia 2019</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2018']">Transparencia 2018</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2017']">Transparencia 2017</a></li>
                        <li><a class="dropdown-item"
                                [routerLink]="['/transparencia','Transparencia 2011 - 2016']">Transparencia 2011 al
                                2016</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="municipalidadDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/quejas-y-sugerencias">Quejas y Sugerencias</a></li>
                        <li><a class="dropdown-item" routerLink="/emprendimientos">Emprendimientos</a></li>
                        <li><a class="dropdown-item" routerLink="/transportes">Transportes</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="municipalidadDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Comunicación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/ultimas-noticias">Últimas Noticias</a></li>
                        <li><a class="dropdown-item" routerLink="/galeria-imagenes">Galería de Fotos</a></li>
                        <li><a class="dropdown-item" routerLink="/">Galería de Videos</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="municipalidadDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Contacto
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/directorio-telefonico">Directorio Telefónico</a></li>
                        <li><a class="dropdown-item" routerLink="/">Ubicación</a></li>
                        <li><a class="dropdown-item" routerLink="/">Preguntas Frecuentes</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Rendición de Cuentas</a>
                </li>


            </ul>

        </div>
    </div>
</nav>