@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.sectionTitle {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionTitle::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 5px; 
    background-color: #51775e;
    border-radius: 10px; 
}

section{
    padding: 56px;
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.btn{
    color: #51775e;
}

.pagination .page-link {
    color: black;
}
  
  .pagination .page-link:hover, 
  .pagination .page-link:focus {
    color: black;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #51775e;
    border-color: #51775e;
    color: white;
  }
  
  .pagination .page-item.active .page-link:hover, 
  .pagination .page-item.active .page-link:focus {
    background-color: #51775e;
    border-color: #51775e;
    color: white;
  }

@media (max-width : 481px) {
    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-title{
        font-size: 15px;
    }
    .card-text{
        display: none;
    }
    .text-body-secondary{
        font-size: 12px;
    }
    .card-footer a{
        font-size: 10px;
    }
}