@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.sectionTitle {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectionTitle::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 5px; 
    background-color: #51775e;
    border-radius: 10px; 
}
span{
    opacity: .5;
    text-align: center;
}
section{
    padding: 56px;
}

@media (max-width : 481px) {
    span{
        font-size: 12px;
        display: flex;
        text-align: center;
    }
    input, select, textarea, button{
        font-size: 12px;
    }
}