<section class="historia py-5">
    <div class="container">
        <h2 class="sectionTitle text-center mb-4">San Juan Bautista de Mocha</h2>

        <div class="row titulo">

            <div class="col-md-12 d-flex justify-content-center">
                <p class="nombre">San Juan Bautista de Mocha, cabecera del cantón Mocha en la
                    provincia de
                    Tungurahua, ciudad del Templo Real, El Puñalica y Pucará.</p>

            </div>
        </div>

        <div class="container timeline py-5 position-relative">

            <div class="row d-flex align-items-center timelineInfo">

                <div class="col-md-4 order-1">
                    <div class="timeline-item-content info">
                        <h4>La Conquista</h4>
                        <p> Durante la conquista, el español Alvarado tuvo que emplear algunos días
                            para reducir a ruinas, la ciudad Rumiñahui.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 order-2">
                    <div class="timeline-item-content">
                        <img src="../../../../assets/img/conquista.webp" alt="">
                    </div>
                </div>

                <div class="col-md-4 order-3">
                    <div class="timeline-item-content anio">
                        1534
                    </div>
                </div>
            </div>

            <div class="row d-flex align-items-center timelineInfo">


                <div class="col-md-4 order-3">
                    <div class="timeline-item-content">
                        <h4>Fundación de Mocha</h4>
                        <p> Los territorios pasan a manos de españoles y se convierte en simples encomiendas,
                            hasta que Don Alfonso Ruiz funda definitivamente Mocha el 24 de junio.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 order-2">
                    <div class="timeline-item-content">
                        <img src="../../../../assets/img/mochaTimeline1.webp" alt="">
                    </div>
                </div>
                <div class="col-md-4 order-1">
                    <div class="timeline-item-content anio">
                        1586
                    </div>
                </div>
            </div>

            <div class="row d-flex align-items-center timelineInfo">
                <div class="col-md-4 order-1">

                    <div class="timeline-item-content">
                        <h4>Terremotos sacuden Mocha</h4>
                        <p> Por su ubicación geográfica, en una zona con volcanes activos el territorio de la
                            Sierra central del país, Mocha fue afectada en varias ocasiones siendo los sismos más
                            destructores.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 order-2">
                    <div class="timeline-item-content">
                        <img src="../../../../assets/img/terremoto.webp" alt="">
                    </div>
                </div>

                <div class="col-md-4 order-3">
                    <div class="timeline-item-content anio">
                        1797
                    </div>
                </div>
            </div>

            <div class="row d-flex align-items-center timelineInfo">
                <div class="col-md-4 order-3">
                    <div class="timeline-item-content">
                        <h4>Fundación del Cantón</h4>
                        <p> El cantón Mocha fue fundado como cantón el 13 de mayo de 1986.</p>
                    </div>
                </div>
                <div class="col-md-4 order-2">
                    <div class="timeline-item-content">
                        <img src="../../../../assets/img/Mocha.webp" alt="">
                    </div>
                </div>
                <div class="col-md-4 order-1">
                    <div class="timeline-item-content anio">
                        1986
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>