@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.footer{
    width: 100%;
    background-color:  #f4f4f4 ;
}
a{
    color: black;
}
a:hover{
    color: #51775e;
}