<div class="container">
    <footer class="">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Alcaldía</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Biografía</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trayectoria</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Metas y Objetivos</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Consejo Municipal</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Concejales</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Comisiones</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Convocatorias</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Actas Consejo Provincial</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ordenanzas</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Contacto</h5>
                <ul class="nav flex-column">

                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5> Suscríbase a nuestro boletín de noticias </h5>
                    <p>Resumen mensual de nuestras novedades.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Correo Electrónico</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Correo Electrónico">
                        <button class="btn btn-primary" type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 GAD Municipalidad de Mocha. Todos los derechos reservados.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg></a></li>
            </ul>
        </div>


    </footer>
</div>